@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gamja Flower", cursive, sans-serif;
  overflow: hidden;
}

body {
  color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.1s;
}

input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 30px;
  color: white;
  border-bottom: 2px solid white;
  opacity: 0.8;
}
input::placeholder {
  color: white;
  text-align: center;
}
input:focus,
input:active {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  font-size: 37px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

li {
  margin: 5px;
}

button {
  cursor: pointer;
}

.liBtn {
  display: inline;
  margin-top: 8px;
  margin-left: 20px;
  padding: 2px 2px 0 2px;
  border: 1px;
  font-size: 25px;
  float: right;
}

.hidden {
  display: none;
}

.center {
  width: 100%;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.search-bar {
  width: 600px;
}

.line-through {
  opacity: 0.8;
  text-decoration: line-through;
}

.form-control {
  border-color: #f7f8f9;
}

#clock {
  font-size: 9em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

#top {
  text-align: center;
}

#weather {
  font-size: 28px;
  text-align: center;
  margin-top: 2px;
  margin-left: 15px;
  border-bottom: 2px solid #e7e6e6;
  line-height: 20%;
  display: inline;
  float: left;
}

#weather-icon {
  width: 60px;
  height: 60px;
  margin: auto;
}

#greeting {
  font-size: 28px;
  color: #f7f8f9;
}

#login-input {
  width: 300px;
  font-size: 28px;
}

#login-form {
  display: inline;
}

#login-form ::placeholder {
  font-size: 28px;
}

#div-todo-form {
  margin-top: 100px;
}

#todo-form {
  display: inline;
}

#todo-form-input {
  width: 450px;
  font-size: 40px;
}

#todo-list {
  margin-top: 55px;
}

#after-login-btn {
  margin: 5px 8px 0 5px;
  padding: 3px;
  border-bottom: 2px solid #e7e6e6;
  vertical-align: middle;
  float: right;
}

#prev-background-btn,
#change-background-btn {
  vertical-align: middle;
  position: relative;
  padding: 0;
  border: 0;
}

#prev-background-btn::after,
#change-background-btn::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 50px;
  height: 50px;
  border-top: 5px solid #bdc8d1;
  border-right: 5px solid #bdc8d1;
}

#prev-background-btn {
  margin-top: 71px;
  margin-left: 50px;
  transform: rotate(225deg);
  float: left;
}

#prev-background-btn:hover {
  opacity: 0.6;
}

#change-background-btn {
  margin-bottom: 71px;
  margin-right: 50px;
  transform: rotate(45deg);
  float: right;
}

#change-background-btn:hover {
  opacity: 0.6;
}

#logout-btn {
  margin-bottom: 12px;
  margin-left: 8px;
  padding: 4px 8px 4px 8px;
}
#logout-btn:hover {
  background-color: #dc3545;
}
