body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

body {
  color: white;
  background-size: cover;
  background-position: center center;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.1s;
}

input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 22px;
  color: white;
  border-bottom: 2px solid white;
  opacity: 0.9;
}
input::placeholder {
  color: white;
}
input:focus,
input:active {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.center {
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#clock {
  font-size: 6em;
  margin: 20px;
}

#greeting {
  font-size: 35px;
}

button {
  display: inline;
  margin: 5px;
  padding: 3px;
  float: right;
}
