body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

body {
  color: white;
  background-size: cover;
  background-position: center center;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.1s;
}

input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 30px;
  color: white;
  border-bottom: 2px solid white;
  opacity: 0.8;
}
input::placeholder {
  color: white;
  text-align: center;
}
input:focus,
input:active {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul {
  font-size: 30px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

li {
  margin: 5px;
}

ul button {
  display: inline;
  margin-top: 5px;
  margin-left: 20px;
  padding: 3px;
  float: right;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.center {
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#clock {
  font-size: 6em;
  margin: 20px;
}

#greeting {
  font-size: 45px;
}

#login-form ::placeholder {
  font-size: 37px;
}

#todo-form {
  margin-top: 125px;
}

#afterloginbtn {
  display: inline;
  margin: 5px;
  padding: 3px;
  float: right;
}
